@font-face {
  font-family: "Exodar";
  src: url("../fonts/ExodarOutline/ExodarOutline.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// url("../fonts/ExodarOutline/ExodarOutline.woff") format("woff"),