$inco: 'Inconsolata', monospace;
$monst: 'Montserrat', sans-serif;
$exo: 'Exodar', sans-serif;

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

html, body {
  height: 100%;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  transition: 0.35s;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background: #01041A;
  color: #fff;
  font-family: $inco;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  & > * {
    width: 100%;
  }
}

.container {
    @include container();
    @include md(max-width, rem(690));
    @include lg(max-width, rem(930));
}

.section {
  margin-top: 120px;
  @include md-block {
    margin-top: 72px;
  }
}

.plate {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 12px;
}

.text-descr {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 20px;
  &_white {
    color: #fff;
  }
}

.text-subtitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.btn {
  position: relative;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  font-weight: 700;
  font-family: $monst;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  padding: 18px 30px;
  transition: .35s;
  color: #fff;
  border-radius: 12px;
  text-decoration: none;
  // text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  &_blue {
    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      right: 0;
      top: 0;
      background: linear-gradient(100.26deg, #32CDEF 18.91%, #0964EC 136.75%, #32CDEF 200%);
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25), 0px 9px 37px rgba(13, 105, 236, 0.53), 0px 1px 0px #0C4BA2;
      color: #fff;
      opacity: 1;
      visibility: visible;
      border-radius: 12px;
      transition: 0.35s;
    }

  }
  &_trans {
    filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.28)) drop-shadow(0px 20px 64px rgba(255, 72, 72, 0.16));
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(4px);
  }
  &:hover {
    color: #fff;
  }
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    background: linear-gradient(100.26deg, #EF328D 18.91%, #EC0909 136.75%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25), 0px 9px 37px rgba(236, 13, 147, 0.53), 0px 1px 0px #A20C5D;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    border-radius: 12px;
    transition: 0.35s;
  }
  &:hover:after {
    visibility: visible;
    opacity: 1;
  }
  &:hover:before {
    visibility: hidden;
    opacity: 0;
  }
}

// .img-wrap {
//   height: 120px;
//   display: flex;
//   align-items: center;
//   &-total {
//     display: flex;
//   }
// }

.label {
  color: rgba(#fff, 0.6);
  display: block;
  margin-bottom: 6px;
  padding-left: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  cursor: pointer;
}

.input {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 12px;
  padding: 15px 24px;
  outline: none;
  height: 60px;
  color: #fff;
  transition: .3s;
  &:hover {
    border: 1px solid #32CDEF;
  }
  &:focus {
    border: 1px solid #32CDEF;
    box-shadow: 0 0 9px 1px #32CDEF;
  }
}

.group {
  & + & {
    margin-top: 24px;
  }
}

.title {
  font-family: $exo;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.15;
  text-transform: uppercase;
  margin-bottom: 28px;
  color: #32CDEF;
  // text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.8), 0px 4px 54px rgba(34, 183, 216, 0.7), -4px -4px 45px rgba(27, 137, 235, 0.6), 4px 4px 30px rgba(50, 205, 239, 0.6);
  // span {
  //   text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.8), 0px 4px 54px rgba(216, 34, 78, 0.7), -4px -4px 45px rgba(235, 27, 39, 0.6), 4px 4px 30px rgba(239, 50, 73, 0.6);
  //   color: #EF328D;
  // }
  // text-shadow: 0px 5px 3px rgba(106, 135, 241, 1), 0px 4px 54px rgba(34, 183, 216, 90%), -4px -4px 45px rgba(27, 137, 235, 95%), 4px 4px 30px rgba(50, 205, 239, 95%);
  text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.95), 0px 4px 54px rgba(34, 183, 216, 0.9), -4px -4px 45px rgba(27, 137, 235, 0.95), 4px 4px 30px rgba(50, 205, 239, 0.95);
  span {
    text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.95), 0px 4px 54px rgba(216, 34, 78, 0.9), -4px -4px 45px rgba(235, 27, 39, 0.95), 4px 4px 30px rgba(239, 50, 73, 0.95);
    color: #EF328D;
  }
  @include sm-block {
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: 0.5px;
  }
  &_anim {
    animation: blinkText 2s infinite;
    font-weight: 400;
    span {
      animation: blinkTextRed 2s infinite;
    }
  }
}

@keyframes blinkText {
  50% {
    // font-weight: 700;
    text-shadow: 0px 5px 3px rgba(106, 135, 241, 1), 0px 4px 54px rgba(34, 183, 216, 90%), -4px -4px 45px rgba(27, 137, 235, 95%), 4px 4px 30px rgba(50, 205, 239, 95%);
  }
}

@keyframes blinkTextRed {
  50% {
    text-shadow: 0px 5px 3px rgba(197, 82, 82, 0.95), 0px 4px 54px rgba(216, 34, 78, 0.9), -4px -4px 45px rgba(235, 27, 39, 0.95), 4px 4px 30px rgba(239, 50, 73, 0.95);
    color: #EF328D;
  }
}

.text {
  font-size: 20px;
  line-height: 1.4;
  @include sm-block {
    font-size: 16px;
    line-height: 1.5;
  }
  // text-shadow: 0px 1px 13px rgba(255, 255, 255, 0.55), 0px 4px 44px rgba(255, 255, 255, 0.25);
  p {
    margin: 0;
    & + p {
      margin-top: 25px;
    }
  }
}

.main {
   margin-bottom: 100px;
   @include md-block {
     margin-bottom: 72px;
   }
} 

.page {
  position: relative;
  &:before {
    content: '';
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url('../img/pages-bg.jpeg') center no-repeat;
    background-size: cover;
  }
  &-inner {
    position: relative;
    padding-top: 150px;
    padding-bottom: 80px;
    margin: auto;
    @include md-block {
      padding-top: 120px;
      padding-bottom: 0;
    }
    @include sm-block {
      padding-top: 100px;
    }
  }
}

// Socials
.socials {
  display: grid;
  .header & {
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    display: none;
    @include md-block {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .footer & {
    gap: 12px;
    grid-template-columns: repeat(4, 1fr);
  }
  &__item {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    .header & {
      background: rgba(255, 255, 255, 0.12);
    }
    .footer & {
      background: rgba(255, 255, 255, 0.04);
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(100.26deg, #32CDEF 18.91%, #0964EC 136.75%);
      opacity: 0;
      visibility: hidden;
      transition: 0.35s;
      border-radius: 12px;
    }
    img {
      transition: 0.35s;
      width: 22px;
    }
    &:hover {
      transform: scale(1.1);
      &:before {
        opacity: 1;
        visibility: visible;
      }
      img {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(1002%) contrast(102%);
      }
    }
  }
}

// Jumb
.jumb {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(100.14deg, #01031A 7.88%, rgba(0, 2, 20, 0) 48.78%), linear-gradient(175.59deg, rgba(12, 0, 9, 0) 52.64%, #01041A 90.99%), linear-gradient(265deg, rgba(2, 5, 34, 0.9) 10.91%, rgba(44, 41, 41, 0) 48.52%), linear-gradient(0deg, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38));
    pointer-events: none;
  }
  &__video {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    @include md-block {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: initial;
      height: 50%;
    }
  }
  &__container {
    position: relative;
    z-index: 5;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: 110px;
    @include md-block {
      margin-top: 50px;
    }
    &-item {
      max-width: 180px;
      width: 100%;
      & + & {
        margin-left: 24px;
        @include sm-block {
          display: none;
        }
      }
    }
  }
  
  &__title {
    font-size: 120px;
    margin-bottom: 40px;
    @include md-block {
      font-size: 90px;
    }
    @include sm-block {
      font-size: 60px;
      margin-bottom: 26px;
    }
  }

  &__descr {
    @include sm-block {
      font-size: 20px;
      margin: 0 20px;
      br {
        display: none;
      }
    }
  }
}

// Calculator
.calc {
  @include sm-block {
    text-align: center;
  }
  &__placeholder {
    margin-top: 50px;
    font-size: 30px;
    letter-spacing: 1px;
    @include sm-block {
      margin-top: 30px;
      font-size: 22px;
    }
  }
}

// Lucky
.lucky {
  @include sm-block {
    text-align: center;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    @include sm-block {
      padding: 0;
      display: block;
    }
  }
  &__info {
    max-width: 500px;
    margin: auto;
  }
  &__btn {
    margin-top: 60px;
    @include sm-block {
      margin-top: 32px;
    }
  }
  &__image {
    img {
      max-width: 530px;
      @include sm-block {
        width: 180px;
      }
    }
  }
}

// About
.about {
  text-align: center;
  padding: 85px 100px 75px;
  @include sm-block {
    padding: 32px 20px;
  }
  &__title {
    margin-bottom: 36px;
    @include sm-block {
      margin-bottom: 20px;
    }
  }
}

// Finance
.finance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  @include md-block {
    padding: 0;
  }
  @include sm-block {
    flex-flow: column-reverse;
    text-align: center;
    &__title {
      margin-bottom: 20px;
    }
  }
  &__info {
    max-width: 510px;
    width: 100%;
  }
  &__image {
    img {
      max-width: 420px;
      @include sm-block {
        width: 165px;
      }
    }
  }
}

// Strategy
.strategy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  @include lg-block {
    display: block;
    text-align: center;
    padding: 0;
    &__title {
      margin-bottom: 20px;
    }
  }
  &__info {
    max-width: 580px;
    width: 100%;
    @include lg-block {
      margin: auto;
    }
  }
  &__image {
    img {
      max-width: 425px;
    }
    @include lg-block {
      margin-right: -2%;
      margin-bottom: 28px;
      img {
        max-width: 245px;
      }
    }
  }
  &__btn {
    margin-top: 60px;
    display: inline-block;
    @include sm-block {
      margin-top: 32px;
    }
  }
}

// Notes
.notes {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  @include md-block {
    display: block;
  }
  &__icon {
    margin-left: -40px;
    margin-top: -40px;
    margin-bottom: -20px;
    pointer-events: none;
  }
  &__item {
    padding: 65px 65px 60px;
    background: rgba(255, 255, 255, 0.06);
    // backdrop-filter: blur(20px);
    // filter: blur(20px);
    @include sm-block {
      padding: 32px;
    }
  }
  &__side {
    position: relative;
    @include md-block {
      & + & {
        margin-top: 32px;
      }
    }
    &:nth-child(odd) {
      &:before {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        filter: blur(15px);
        background: url('../img/notes-bg-1.png') center no-repeat;
      }
    }
    &:nth-child(even) {
      &:before {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        filter: blur(15px);
        background: url('../img/notes-bg-2.png') center no-repeat;
      }
    }
  }
}

// Sold
.sold {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  @include sm-block {
    padding: 0;
    flex-flow: column-reverse;
    text-align: center;
    &__title {
      margin-bottom: 20px;
    }
  }
  &__info {
    max-width: 515px;
    width: 100%;
  }
  &__btn {
    margin-top: 60px;
    @include sm-block {
      margin-top: 32px;
    }
  }
  &__image {
    margin-bottom: 15px;
    img {
      max-width: 410px;
      @include sm-block {
        max-width: 135px;
      }
    }
  }
}

// Subscribe
.subscribe {
  margin-top: 100px;
  text-align: center;
  padding: 95px 100px;
  @include sm-block {
    padding: 32px;
    &__title {
      margin-bottom: 20px;
    }
    &__info {
      font-size: 16px;
      line-height: 1.5;
    }
  }
  &__form {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    @include sm-block {
      margin-top: 32px;
      display: block;
    }
  }
  &__input {
    background: rgba(255, 255, 255, 0.08);
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    outline: none;
    border-radius: 12px;
    color: #fff;
    height: 56px;
    font-size: 16px;
    line-height: 28px;
    max-width: 340px;
    width: 100%;
    padding: 12px 24px;
    transition: 0.35s;
    @include sm-block {
      height: 60px;
      max-width: 100%;
    }
    &:focus {
      border-color: rgb(50, 205, 239);
      box-shadow: 0 0 10px 1px rgb(50, 205, 239);
    }
    &::placeholder {
      color: rgba(255, 255, 255, 0.4);
    }
  }
  &__btn {
    margin-left: 16px;
    @include sm-block {
      margin-top: 16px;
      margin-left: 0;
      height: 60px;
      width: 100%;
    }
  }
}

// Roadmap
.roadmap {
  padding-top: 60px;
  @include md-block {
    padding-top: 0;
  }
  &__title {
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 30px;
    @include md-block {
      text-align: center;
      padding-bottom: 0;
      margin-bottom: 32px;
    }
    &:after {
      content: '';
      position: absolute;
      z-index: 10;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background-color: #1F2341;
      @include md-block {
        display: none;
      }
    }
  }
  &__inner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    @include md-block {
      display: block;
      padding-left: 28px;
      &:before {
        content: '';
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        bottom: 0;
        width: 2px;
        background-color: #1F2341;
      }
    }
  }
  &__item {
    position: relative;
    padding: 50px 40px 32px;
    transition: 0.3s;
    @include md-block {
      & + & {
        margin-top: 30px;
      }
    }
    @include sm-block {
      padding: 20px;
    }
    &:hover {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25), 0px 9px 37px rgba(13, 105, 236, 0.53), 0px 1px 0px #0C4BA2;
    }
    &:before {
      content: '';
      position: absolute;
      left: 33px;
      top: 0;
      transform: translateY(-100%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12px 12px 12px;
      border-color: transparent transparent rgba(255, 255, 255, 0.06) transparent;
      @include md-block {
        border-color: transparent rgba(255, 255, 255, 0.06) transparent transparent;
        transform: translateX(-100%);
        border-width: 12px 12px 12px 0;
        left: 0;
        top: 24px;
      }
    }
    &:after {
      content: '';
      position: absolute;
      left: 35px;
      top: -31px;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #1F2341;
      @include md-block {
        transform: translateX(-50%);
        left: -28px;
        top: 25px;
      }
    }
    &-date {
      font-weight: bold;
      font-size: 20px;
      line-height: 1.4;
      text-shadow: 0px 1px 13px rgba(255, 255, 255, 0.55), 0px 4px 44px rgba(255, 255, 255, 0.25);
      margin-bottom: 12px;
      @include sm-block {
        font-size: 18px;
      }
    }
    &-title {
      font-weight: bold;
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 10px;
      // text-shadow: 0px 1px 13px rgba(255, 255, 255, 0.55), 0px 4px 44px rgba(255, 255, 255, 0.25);
    }
    &-list {
      font-size: 16px;
      line-height: 1.3;
      color: rgba(255, 255, 255, 0.6);
      li {
        &:before {
          content: '— ';
        }
      }
      li + li {
        margin-top: 4px;
      }
    }
  }
}

// FAQ
.faq {
  &__title {
    text-align: center;
    margin-bottom: 32px;
    @include md-block {
      margin-bottom: 20px;
    }
  }
  &__list {
    max-width: 680px;
    width: 100%;
    margin: auto;
    padding: 40px;
    @include md-block {
      padding: 20px;
    }
  }
  &__item {
    & + & {
      margin-top: 36px;
    }
    &-title {
      position: relative;
      font-weight: bold;
      padding-right: 40px;
      font-size: 20px;
      line-height: 1.4;
      cursor: pointer;
      // text-shadow: 0px 1px 13px rgba(255, 255, 255, 0.55), 0px 4px 44px rgba(255, 255, 255, 0.25);
      transition: 0.35s;
      @include md-block {
        font-size: 16px;
      }
      &:hover {
        opacity: .6;
        @include md-block {
          opacity: 1;
        }
      }
      &:before {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transition: 0.35s;
        transform: translateY(-50%) rotate(180deg);
        width: 12px;
        height: 7px;
        background: url('../img/arrow.svg') center no-repeat;
        background-size: contain;
        .faq__item_active & {
          transform: translateY(-50%) rotate(0deg);
        }
      }
    }
    &-descr {
      margin-top: 12px;
      font-size: 16px;
      line-height: 1.4;
      color: rgba(255, 255, 255, 0.6);
      max-width: 90%;
      display: none;
      transition: 0.25s;
      a {
        color: #32cedf;
        border-bottom: 1px solid #32cdef;
        &:hover {
          opacity: 0.7;
          border-color: transparent;
        }
      }
      @include md-block {
        max-width: 100%;
      }
    }
  }
}

// Liquidity
.liquidity {
  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    margin-top: 40px;
    @include lg-block {
      grid-template-columns: 1fr 1fr;
    }
    @include sm-block {
      grid-template-columns: 1fr;
    }
  }
  &__block {
    display: block;
    background: rgba(16, 19, 39, 0.88);
    border-radius: 12px;
    padding: 32px;
    transition: 0.3s;
    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25), 0px 9px 37px rgba(#32CDEF, 0.53), 0px 1px 0px #32CDEF;
    }
    &_soon {
      pointer-events: none;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(100.26deg, rgba(50, 205, 239, 0.72) 18.91%, rgba(9, 100, 236, 0.72) 136.75%);
      font-size: 20px;
      line-height: 28px;
      color: #FFFFFF;
      text-shadow: 0px 1px 13px rgba(255, 255, 255, 0.55), 0px 4px 44px rgba(255, 255, 255, 0.25);
      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: url('../img/liqudity-soon.png') center no-repeat;
        background-size: cover;;
      }
    }
  }
  &__bages {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  &__bage {
    background: linear-gradient(100.26deg, rgba(50, 205, 239, 0.36) 18.91%, rgba(9, 100, 236, 0.36) 136.75%);
    border-radius: 8px;
    padding: 6px 12px;
    margin-right: 12px;
    font-size: 14px;
  }
  &__title {
    @include lg-block {
      br {
        display: none;
      }
    }
  }
  &__subtitle {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  }
  &__descr {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 20px;
  }
  &__meta {
    display: flex;
    justify-content: space-between;
    margin: 25px -10px 0;
    &-block {
      padding: 0 10px;
    }
    &-value {
      font-weight: bold;
    }
  }
}

// Vault
.vault {
  &__input {
    width: 100%;
  }
  &__btn {
    z-index: 10;
    width: 100%;
    text-transform: none;
  }
  &__row {
    display: flex;
    margin-top: 32px;
    @include md-block {
      display: block;
    }
  }
  &__plate {
    background: rgba(16, 19, 39, 0.88);
    padding: 20px 24px 24px;
    @include sm-block {
      padding-right: 17px;
      padding-left: 17px;
    }
  }
  &-details {
    &__link {
      &:hover {
        opacity: 0.65;
      }
    }
    &__head {
      display: flex;
      justify-content: space-between;
      margin-bottom: 18px;
      @include sm-block {
        display: block;
      }
    }
    &__descr {
      margin-bottom: 24px;
    }
    &__block {
      & + & {
        margin-top: 24px;
      }
    }
    &__subplate {
      padding: 16px;
      & + & {
        margin-top: 12px;
      }
      &-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        @include sm-block {
          margin-bottom: 18px;
        }
        img {
          width: 16px;
          height: 16px;
        }
      }
    }
    &__row {
      display: flex;
      justify-content: space-between;
      margin: 0 -10px;
      & + & {
        margin-top: 6px;
      }
    }
    &__col {
      padding: 0 10px;
    }
    &__invite {
      color: #32CDEF;
      background: linear-gradient(90deg, rgba(50,205,239,1) 0%, rgba(9,100,236,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @include sm-block {
        margin-top: 15px;
      }
      &:hover {
        opacity: 0.65;
      }
      &-wrap {
        position: relative;
        display: flex;
        align-items: center;
        img {
          margin-left: 8px; 
          width: 16px;
          height: 16px;
          cursor: pointer;
          &:hover + .vault-details__invite-info {
            display: block;
          }
        }
      }
      &-tooltip {
        position: relative;
        line-height: 0;
      }
      &-info {
        display: none;
        position: absolute;
        z-index: 99;
        width: 240px;
        top: 125%;
        left: -10px;
        font-size: 14px;
        line-height: 1.4;
        border-radius: 15px;
        padding: 12px;
        letter-spacing: -0.03em;
        color: #fff;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(7px);
        &:before {
          content: '';
          position: absolute;
          display: block;
          left: 19px;
          top: -7px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 7px 7px 7px;
          border-color: transparent transparent rgba(255, 255, 255, 0.4) transparent;
        }
      }
    }
    &__note {
      margin-top: 30px;
      display: flex;
      align-items: center;
      img {
        margin-right: 10px;
      }
    }
  }
  &-tabs {
    margin-left: 40px;
    max-width: 380px;
    flex-shrink: 0;
    width: 100%;
    @include lg-block {
      margin-left: 10px;
    }
    @include md-block {
      max-width: 100%;
      margin-left: 0;
      margin-top: 50px;
    }
  }
  &-position {
    margin-top: 12px;
    &__row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
      &-group {
        margin-top: 12px;
      }
    }
    &__eligible {
      &-time {
        margin-top: 5px;
      }
    }
  }
  &-nav {
    display: flex;
    margin-bottom: 12px;
    &__item {
      padding: 12px 28px;
      // font-weight: 600;
      font-size: 20px;
      line-height: 20px;
      color: rgba(#fff, 0.6);
      background: rgba(16, 19, 39, 0.88);
      border-radius: 12px;
      transition: 0.3s;
      cursor: pointer;
      &_active {
        pointer-events: none;
      }
      &:hover {
        transform: scale(1.05);
        color: #fff;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25), 0px 9px 37px rgba(#32CDEF, 0.53), 0px 1px 0px #32CDEF;
      }
      &_active {
        color: #fff;
      }
      & + & {
        margin-left: 12px;
      }
    }
  }
}

.vault-tlv {
  position: relative;
  background: #BCB6BA;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.18), 0px 0px 34px #18A6DD;
  border-radius: 60px;
  height: 4px;
  margin-top: 16px;
  &_value {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 60px;
    height: 4px;
    background: #44D3F2;
    box-shadow: 0px 0px 3px #32CDEF, 0px 0px 4px #32CDEF, 0px 0px 6px #32CDEF, 0px 0px 4px #32CDEF;
    border-radius: 50px;
  }
}

.vault-compare {
  position: relative;
  background: #BCB6BA;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.18), 0px 0px 34px #18A6DD;
  border-radius: 60px;
  height: 4px;
  margin-top: 16px;
  margin-bottom: 22px;
  &__list {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    border-radius: 60px;
  }
  &__item {
    height: 4px;
    flex: 1;
    &_active {
      position: relative;
      &:before {
        content: attr(data-value) ":10";
        position: absolute;
        right: 0;
        top: 100%;
        transform: translateX(50%);
        color: rgba(255, 255, 255, 0.6);
        font-size: 16px;
        padding-top: 6px;
      }
    }
    &:first-child {
      background: #8B0000;
      box-shadow: 0px 0px 3px #8B0000, 0px 0px 4px #8B0000, 0px 0px 6px #8B0000, 0px 0px 4px #32CDEF;
      border-radius: 50px 0 0 50px;
    }
    &:nth-child(2) {
      background: #C71585;
    }
    &:nth-child(3) {
      background: #FFA500;
    }
    &:nth-child(4) {
      background: #FFFF00;
    }
    &:nth-child(5) {
      background: #FF00FF;
    }
    &:nth-child(6) {
      background: #6A5ACD;
    }
    &:nth-child(7) {
      background: #00008B;
    }
    &:nth-child(8) {
      background: #0000FF;
    }
    &:nth-child(9) {
      background: #20B2AA;
    }
    &:nth-child(10) {
      background: #2F4F4F;
      border-radius: 0px 50px 50px 0px;
    }
  }   
}

.vault-tab {
  display: none;
  &__withdraw {
    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-balance {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;
      opacity: 0.6;
      color: #EC0909;
      margin-bottom: 6px;
    }
  }
}

.vault-withdraw {
  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

// Synced
.synced {
  position: absolute;
  right: 20px;
  bottom: 20px;
  @include md-block {
    bottom: -35px;
  }
  &__value {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #0CFE32;
  }
}
